:root {
    --color-background: #e9eaea;
    --color-words1: #fff;
    --color-words2: #000;
    --color-words3: #7a7a7a;
    --color-colorRed: #9f0311;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%
}

@font-face {
    font-family: "barcelony";
    src: url('../font/Barcelony.ttf');
}

@font-face {
    font-family: "gothaRegular";
    src: url('../font/GothaProReg.otf');
}

@font-face {
    font-family: "gothaBold";
    src: url('../font/GothaProBol.otf');
}


header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.2rem 0;
}
header h1{
    font-size: 3rem;
    font-family: "barcelony";
    color: var(--color-colorRed);

} 
header nav ul, header nav ul li{
    display: flex;
    gap: 2rem;
    list-style: none;
    color: var(--color-words3);
    font-size: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.contactHeader, .contactHeader i,
.contactHeader p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.8rem;
    
}

.contactHeader .fa-phone{
    color: var(--color-words3);
  
}
.contactHeader .fa-instagram{
    color: var(--color-colorRed);
}

/*BANNER*/
.banner{
    height: 91vh;    
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -80rem;
    display: flex;
    justify-content:start ;
    align-items: center;
    flex-direction: column;
}
.banner h2{
    font-family: "barcelony";
    font-size: 7.5rem;
    font-weight: 100;
    text-align: center;
    margin-top: 7rem;
}
.banner button{
    background-color: transparent;
    border: 0.2rem solid var(--color-colorRed);
    height: 3rem;
    width: 20rem ;
    color: var(--color-colorRed);
    font-size: 1.8rem;
}

.menu-catalogo h3{
    font-size: 4rem;
    text-align: center;
    font-family: "barcelony";
}

.menu-catalogo ul{
    font-size: 4rem;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 2.5rem;
    font-family: "gothaRegular";
}

main {
    width: 90vw;
    margin: 0 auto;
}

.gallery {
    display: flex;
}

.filling {
    width: 25%;
    background-color: #9f0311;
    font-size: 6rem;
    text-align:center;
    padding: 10rem 0 10rem 0;

}